<div>
  <h2 id="page-heading" data-cy="CustomerIdentifierHeading">
    <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.home.title">Customer Identifiers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined" />
        <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-identifier"
        [routerLink]="['/customer-identifier/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.home.createLabel">Create a new Customer Identifier</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (customerIdentifiers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.home.notFound">No Customer Identifiers found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="identifierType">
              <div class="d-flex">
                <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.identifierType">Identifier Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="identifierValue">
              <div class="d-flex">
                <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.identifierValue">Identifier Value</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="channel">
              <div class="d-flex">
                <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.channel">Channel</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="verified">
              <div class="d-flex">
                <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.verified">Verified</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="isPrimary">
              <div class="d-flex">
                <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.isPrimary">Is Primary</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="verifiedAt">
              <div class="d-flex">
                <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.verifiedAt">Verified At</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="customer.id">
              <div class="d-flex">
                <span jhiTranslate="fgrKnowYourCustomerApp.customerIdentifier.customer">Customer</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (customerIdentifier of customerIdentifiers(); track trackId(customerIdentifier)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/customer-identifier', customerIdentifier.id, 'view']">{{ customerIdentifier.id }}</a>
              </td>
              <td [jhiTranslate]="'fgrKnowYourCustomerApp.IdentifierType.' + (customerIdentifier.identifierType ?? 'null')">
                {{
                  {
                    null: '',
                    PHONE_NUMBER: 'PHONE_NUMBER',
                    EMAIL: 'EMAIL',
                    USERNAME: 'USERNAME',
                    NATIONAL_ID: 'NATIONAL_ID',
                    PASSPORT: 'PASSPORT',
                    COMPANY_REGISTRATION: 'COMPANY_REGISTRATION',
                  }[customerIdentifier.identifierType ?? 'null']
                }}
              </td>
              <td>{{ customerIdentifier.identifierValue }}</td>
              <td [jhiTranslate]="'fgrKnowYourCustomerApp.ChannelType.' + (customerIdentifier.channel ?? 'null')">
                {{
                  { null: '', WHATSAPP: 'WHATSAPP', WEB: 'WEB', ANDROID: 'ANDROID', IOS: 'IOS', USSD: 'USSD' }[
                    customerIdentifier.channel ?? 'null'
                  ]
                }}
              </td>
              <td>{{ customerIdentifier.verified }}</td>
              <td>{{ customerIdentifier.isPrimary }}</td>
              <td>{{ customerIdentifier.createdAt | formatMediumDatetime }}</td>
              <td>{{ customerIdentifier.verifiedAt | formatMediumDatetime }}</td>
              <td>
                @if (customerIdentifier.customer) {
                  <div>
                    <a [routerLink]="['/customer', customerIdentifier.customer.id, 'view']">{{ customerIdentifier.customer.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/customer-identifier', customerIdentifier.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/customer-identifier', customerIdentifier.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(customerIdentifier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (customerIdentifiers().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
